 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 250px;
  margin: 180px auto 0 229px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -178px 229px 0 550px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #232b79, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 249px auto 0 179px;
  padding: 32px 133px 32px 132px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #232b79, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -87px 153px 60px auto;
  padding: 33px 146px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 179px;
  }

  .u-section-1 .u-text-1 {
    width: 361px;
    margin-right: 179px;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -37px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 124px;
    margin-left: 235px;
    margin-bottom: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-image-1 {
    width: 111px;
    height: 111px;
    margin-top: 156px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -72px;
    margin-right: -170px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 156px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 55px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-list-1 {
  height: auto;
  width: 1060px;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 414px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 144px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-4 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-7 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-2 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-2 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-2 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 29px;
  }
}