.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 128px 213px 0 248px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 76px auto 0 600px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 60px 310px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 113px;
    margin-left: 148px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 500px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 3px;
    margin-left: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 335px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}